<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Crop Cultivation Guidance</title>
  <link rel="stylesheet" href="/static/css/homeguid.css" />
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
  <header>
    <h1> Crop Cultivation Guidance</h1>
    <p>Your guide to healthy and productive farming</p>
  </header>

  <main class="grid-container">
    <a href="https://www.farmatma.in/banana-cultivation/">
      <div class="crop-card">
        <img src="/static/images/crops/banana.jpeg" alt="Banana">
        <h2>Banana</h2>
        <p>High-value fruit crop, needs good water management.</p>
      </div>
    </a>
  
    <a href="http://www.agriverge.in/2024/11/comprehensive-guide-to-groundnut.html">
    <div class="crop-card">
      <img src="/static/images/crops/groundnut.jpeg" alt="Groundnut">
      <h2>Groundnut</h2>
      <p>Rich in oil, great for sandy soils.</p>
    </div></a>


    <a href="https://www.farmatma.in/tomato-cultivation/">
    <div class="crop-card">
      <img src="/static/images/crops/tomato.jpeg" alt="Tomato">
      <h2>Tomato</h2>
      <p>Needs moderate watering, thrives in warm weather.</p>
    </div></a>


    <a href="https://www.farmatma.in/maize-cultivation/">
    <div class="crop-card">
      <img src="/static/images/crops/corn.jpeg" alt="Corn">
      <h2>Corn</h2>
      <p>High yield crop, prefers loamy soil.</p>
    </div></a>


    <a href="https://www.farmatma.in/chilli-cultivation/">
    <div class="crop-card">
      <img src="/static/images/crops/chilli.jpeg" alt="Chilly">
      <h2>Chilly</h2>
      <p>Grows well in hot climates, needs well-drained soil.</p>
    </div></a>


    <a href="https://www.farmatma.in/onion-cultivation/">
    <div class="crop-card">
        <img src="/static/images/crops/onion.jpeg" alt="Onion">
        <h2>Onion</h2>
        <p>Prefers cool weather and well-drained soils rich in organic matter.</p>
      </div></a>


      <a href="https://www.farmatma.in/papaya-cultivation/">
      <div class="crop-card">
        <img src="/static/images/crops/papaya.jpeg" alt="Papaya">
        <h2>Papaya</h2>
        <p>Thrives in warm climates with good drainage and sunlight.</p>
      </div></a>


      <a href="https://indiaagronet.com/horticulture/CONTENTS/Coriander.htm">
      <div class="crop-card">
        <img src="/static/images/crops/coriander.jpeg" alt="Coriander">
        <h2>Coriander</h2>
        <p>Grows well in loamy soil with mild sunlight and regular moisture.</p>
      </div></a>
    </main>
</body>
</html>
